build/

# vim temporary files
*.swo
*.swn
*.swp

# vim custom settings
.lvimrc

# temporary files
*~

# CLion
cmake-build-debug/
.idea/workspace.xml
.idea/tasks.xml
*.iml

# YCM files
.ycm_extra*

# OSX
.DS_Store
